@import '~antd/dist/antd.css';
.table-operations {
    margin-bottom: 16px;
}

.table-operations > button {
    margin-right: 8px;
}

.example-input .ant-input {
    width: 20px;
    margin: 10px 8px 8px 10px;
}

#components-form-demo-advanced-search .ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.inputSearch {
    margin-bottom: 2em;
    margin-top: 2em;
  /*  border: 1px solid red;*/
}


.style-one {
   height: 6px;
    border: 1px solid red;
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.5);
}
.list{
	margin-top:1em;
}

.tableList{
  margin:1em;
}
.backTop{
  background: blue;
}



.ant-back-top {
  bottom: 100px;
}
.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
